<!DOCTYPE html>
<html>
<head>
<title>Farmer Registration</title>
<style>
body{font-family:Arial;background:#f4f7f4}
.box{width:590px;margin:110px auto;background:#fff;padding:20px;border-radius:8px}
input,button{width:94%;padding:10px;margin-top:10px}
button{background:#287f53;color:white;border:none;}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e7d32;
  padding: 15px 0;
}

.headline h1 {
  color: white;
  margin: 0;
  font-size: 28px;
}
</style>
</head>
<body>
<nav class="navbar">
<div class="headline">
  <h1>🌾 <b>Smart Farming Guidance</b></h1>
</div>
</nav>
<div class="box">
<h2>🧾 Farmer Registration</h2>

<form method="post">
<input type="text" name="name" placeholder="Farmer Name" required>
<input type="text" name="mobile" placeholder="Mobile Number" required>
<input type="password" name="password" placeholder="Password" required>
<button>Register</button>
</form>

<p>Already Registered? <a href="/login">Login</a></p>
</div>

</body>
</html>
